[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://git@github.com/CocoaLumberjack/CocoaLumberjack.git
[submodule "Library"]
	path = Package/SPIndicator
	url = https://github.com/ivanvorobei/SPIndicator
[submodule "LibPackage"]
	path = LibPackage/SPIndicator
	url = https://github.com/ivanvorobei/SPIndicator
[submodule "ComPackage"]
	path = ComPackage/JLRoutes
	url = https://github.com/joeldev/JLRoutes
