[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = https://git@github.com/CocoaLumberjack/CocoaLumberjack.git
[submodule "Library"]
	path = Package/SPIndicator
	url = https://github.com/ivanvorobei/SPIndicator
[submodule "LibPackage"]
	path = LibPackage/SPIndicator
	url = https://github.com/ivanvorobei/SPIndicator
[submodule "ComPackage"]
	path = ComPackage/JLRoutes
	url = https://github.com/joeldev/JLRoutes
[submodule "Packages/YQBlueTooth"]
	path = Packages/YQBlueTooth
	url = https://github.com/QMNY/YQBlueTooth
[submodule "Packages/JLRoutes"]
	path = Packages/JLRoutes
	url = https://github.com/QMNY/JLRoutes
[submodule "Packages/YQJXPagerView"]
	path = Packages/YQJXPagerView
	url = https://github.com/QMNY/YQJXPagerView
