<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ret</key>
	<integer>0</integer>
	<key>msg</key>
	<string>ok</string>
	<key>dayhqs</key>
	<array>
		<dict>
			<key>id</key>
			<string>899002-20160405</string>
			<key>zqdm</key>
			<integer>899002</integer>
			<key>day</key>
			<integer>20160405</integer>
			<key>open</key>
			<real>1244.646</real>
			<key>close</key>
			<real>1246.446</real>
			<key>high</key>
			<real>1246.573</real>
			<key>low</key>
			<real>1242.017</real>
			<key>volume</key>
			<integer>68268519</integer>
			<key>amount</key>
			<real>0</real>
		</dict>
		<dict>
			<key>id</key>
			<string>899002-20160406</string>
			<key>zqdm</key>
			<integer>899002</integer>
			<key>day</key>
			<integer>20160406</integer>
			<key>open</key>
			<real>1246.446</real>
			<key>close</key>
			<real>1248.746</real>
			<key>high</key>
			<real>1248.908</real>
			<key>low</key>
			<real>1244.156</real>
			<key>volume</key>
			<integer>80705472</integer>
			<key>amount</key>
			<real>0</real>
		</dict>
		<dict>
			<key>id</key>
			<string>899002-20160407</string>
			<key>zqdm</key>
			<integer>899002</integer>
			<key>day</key>
			<integer>20160407</integer>
			<key>open</key>
			<real>1248.668</real>
			<key>close</key>
			<real>1247.596</real>
			<key>high</key>
			<real>1248.668</real>
			<key>low</key>
			<real>1244.496</real>
			<key>volume</key>
			<integer>74355907</integer>
			<key>amount</key>
			<real>0</real>
		</dict>
		<dict>
			<key>id</key>
			<string>899002-20160408</string>
			<key>zqdm</key>
			<integer>899002</integer>
			<key>day</key>
			<integer>20160408</integer>
			<key>open</key>
			<real>1247.596</real>
			<key>close</key>
			<real>1247.171</real>
			<key>high</key>
			<real>1247.643</real>
			<key>low</key>
			<real>1243.53</real>
			<key>volume</key>
			<integer>78001991</integer>
			<key>amount</key>
			<real>0</real>
		</dict>
		<dict>
			<key>id</key>
			<string>899002-20160411</string>
			<key>zqdm</key>
			<integer>899002</integer>
			<key>day</key>
			<integer>20160411</integer>
			<key>open</key>
			<real>1247.138</real>
			<key>close</key>
			<real>1251.013</real>
			<key>high</key>
			<real>1251.013</real>
			<key>low</key>
			<real>1246.741</real>
			<key>volume</key>
			<integer>86284619</integer>
			<key>amount</key>
			<real>0</real>
		</dict>
		<dict>
			<key>id</key>
			<string>899002-20161017</string>
			<key>zqdm</key>
			<integer>899002</integer>
			<key>day</key>
			<integer>20161017</integer>
			<key>open</key>
			<real>1085.514</real>
			<key>close</key>
			<real>1084.099</real>
			<key>high</key>
			<real>1085.84</real>
			<key>low</key>
			<real>1082.49</real>
			<key>volume</key>
			<integer>46291803</integer>
			<key>amount</key>
			<real>284489832</real>
		</dict>
	</array>
</dict>
</plist>
