<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>1</integer>
	<key>success</key>
	<true/>
	<key>message</key>
	<string>成功</string>
	<key>data</key>
	<array>
		<dict>
			<key>entrustNo</key>
			<string>fds1234564968798</string>
			<key>entrustWayName</key>
			<string>买入单</string>
			<key>tradeCoinName</key>
			<string>ETT</string>
			<key>entrustStatusName</key>
			<string>创建订单</string>
			<key>entrustStatus</key>
			<integer>1</integer>
			<key>payCoinName</key>
			<string>USDT</string>
			<key>entrustNum</key>
			<integer>1234567</integer>
			<key>entrustPrice</key>
			<real>1.23456</real>
			<key>entrustFee</key>
			<real>1.23</real>
			<key>entrustFeeCoinName</key>
			<string>ETT</string>
			<key>dealVolume</key>
			<real>1.23456</real>
			<key>dealAmount</key>
			<real>1.23456</real>
			<key>dealTradeFee</key>
			<real>0.26</real>
			<key>repealFee</key>
			<real>1.23456</real>
			<key>repealFeeCoinName</key>
			<string>USDT</string>
			<key>entrustTimeLong</key>
			<real>9821332212322</real>
			<key>time</key>
			<integer>153464723456</integer>
			<key>timeDesc</key>
			<string>创建信息，关于时间</string>
		</dict>
		<dict>
			<key>entrustNo</key>
			<string>fds1234564968798</string>
			<key>entrustWayName</key>
			<string>卖出单</string>
			<key>tradeCoinName</key>
			<string>ETT</string>
			<key>entrustStatusName</key>
			<string>创建订单</string>
			<key>entrustStatus</key>
			<integer>1</integer>
			<key>payCoinName</key>
			<string>USDT</string>
			<key>entrustNum</key>
			<integer>1234567</integer>
			<key>entrustPrice</key>
			<real>1.23456</real>
			<key>entrustFee</key>
			<real>1.23</real>
			<key>entrustFeeCoinName</key>
			<string>ETT</string>
			<key>dealVolume</key>
			<real>1.23456</real>
			<key>dealAmount</key>
			<real>1.23456</real>
			<key>dealTradeFee</key>
			<real>0.26</real>
			<key>repealFee</key>
			<real>1.23456</real>
			<key>repealFeeCoinName</key>
			<string>USDT</string>
			<key>entrustTimeLong</key>
			<real>9821332212322</real>
			<key>time</key>
			<integer>153464723456</integer>
			<key>timeDesc</key>
			<string>创建信息，关于时间</string>
		</dict>
		<dict>
			<key>entrustNo</key>
			<string>fds1234564968798</string>
			<key>entrustWayName</key>
			<string>买入单</string>
			<key>tradeCoinName</key>
			<string>ETT</string>
			<key>entrustStatusName</key>
			<string>创建订单</string>
			<key>entrustStatus</key>
			<integer>1</integer>
			<key>payCoinName</key>
			<string>USDT</string>
			<key>entrustNum</key>
			<integer>1234567</integer>
			<key>entrustPrice</key>
			<real>1.23456</real>
			<key>entrustFee</key>
			<real>1.23</real>
			<key>entrustFeeCoinName</key>
			<string>ETT</string>
			<key>dealVolume</key>
			<real>1.23456</real>
			<key>dealAmount</key>
			<real>1.23456</real>
			<key>dealTradeFee</key>
			<real>0.26</real>
			<key>repealFee</key>
			<real>1.23456</real>
			<key>repealFeeCoinName</key>
			<string>USDT</string>
			<key>entrustTimeLong</key>
			<real>9821332212322</real>
			<key>time</key>
			<integer>153464723456</integer>
			<key>timeDesc</key>
			<string>创建信息，关于时间</string>
		</dict>
	</array>
</dict>
</plist>
