<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>icon_shengou2_highlight</string>
		<key>page</key>
		<string>common</string>
		<key>name</key>
		<string>home_grid_item0</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_zhuanzhang2_highlight</string>
		<key>page</key>
		<string>file</string>
		<key>name</key>
		<string>home_grid_item1</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_shoukuan2_highlight</string>
		<key>page</key>
		<string>handware</string>
		<key>name</key>
		<string>home_grid_item2</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_yaoqing2_highlight</string>
		<key>page</key>
		<string>ui</string>
		<key>name</key>
		<string>home_grid_item3</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_xiaoxi2_highlight</string>
		<key>page</key>
		<string>info</string>
		<key>name</key>
		<string>home_grid_item4</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_gonggao2_highlight</string>
		<key>page</key>
		<string>full</string>
		<key>name</key>
		<string>home_grid_item5</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_dizhiben2_highlight</string>
		<key>page</key>
		<string>full</string>
		<key>name</key>
		<string>home_grid_item6</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_shezhi2_highlight</string>
		<key>page</key>
		<string>full</string>
		<key>name</key>
		<string>home_grid_item7</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_pingtuan2_highlight</string>
		<key>page</key>
		<string>full</string>
		<key>name</key>
		<string>home_grid_item8</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_gengduo2_highlight</string>
		<key>page</key>
		<string>full</string>
		<key>name</key>
		<string>home_grid_item9</string>
	</dict>
</array>
</plist>
