<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>1</integer>
	<key>success</key>
	<true/>
	<key>message</key>
	<string>成功</string>
	<key>data</key>
	<array>
		<dict>
			<key>open</key>
			<string>1.23</string>
			<key>close</key>
			<string>1.28</string>
			<key>high</key>
			<string>1.32</string>
			<key>low</key>
			<string>1.17</string>
			<key>timeLong</key>
			<integer>545632564645</integer>
			<key>volume</key>
			<integer>654687</integer>
		</dict>
		<dict>
			<key>open</key>
			<string>1.25</string>
			<key>close</key>
			<string>1.35</string>
			<key>high</key>
			<string>1.38</string>
			<key>low</key>
			<string>1.11</string>
			<key>timeLong</key>
			<real>545632565645</real>
			<key>volume</key>
			<real>124687</real>
		</dict>
		<dict>
			<key>open</key>
			<string>1.37</string>
			<key>close</key>
			<string>1.24</string>
			<key>high</key>
			<string>1.38</string>
			<key>low</key>
			<string>1.26</string>
			<key>timeLong</key>
			<real>545632574145</real>
			<key>volume</key>
			<real>65487</real>
		</dict>
		<dict>
			<key>open</key>
			<string>1.23</string>
			<key>close</key>
			<string>1.28</string>
			<key>high</key>
			<string>1.32</string>
			<key>low</key>
			<string>1.17</string>
			<key>timeLong</key>
			<integer>545632564645</integer>
			<key>volume</key>
			<integer>654687</integer>
		</dict>
		<dict>
			<key>open</key>
			<string>1.23</string>
			<key>close</key>
			<string>1.28</string>
			<key>high</key>
			<string>1.32</string>
			<key>low</key>
			<string>1.17</string>
			<key>timeLong</key>
			<integer>545632564645</integer>
			<key>volume</key>
			<integer>654687</integer>
		</dict>
	</array>
</dict>
</plist>
