<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>1</integer>
	<key>success</key>
	<true/>
	<key>message</key>
	<string>成功</string>
	<key>data</key>
	<array>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>msgId</key>
			<integer>2</integer>
			<key>msgTitle</key>
			<string>2</string>
			<key>msgSubtitle</key>
			<string>用户消息222</string>
			<key>msgUrl</key>
			<string>/appMsgLine/h5/get?id=2</string>
			<key>language</key>
			<string>cn</string>
			<key>msgType</key>
			<integer>10</integer>
			<key>msgTypeName</key>
			<string>系统消息</string>
			<key>userId</key>
			<integer>1</integer>
			<key>userName</key>
			<string>YD-MAHQU1E8</string>
			<key>isAlertWindow</key>
			<false/>
			<key>isRead</key>
			<false/>
			<key>isPush</key>
			<true/>
			<key>topTime</key>
			<real>1597912520000</real>
			<key>topTimeLong</key>
			<integer>1597912520518</integer>
			<key>creator</key>
			<string>booding</string>
			<key>createTime</key>
			<integer>1597832862000</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>msgId</key>
			<integer>2</integer>
			<key>msgTitle</key>
			<string>2</string>
			<key>msgSubtitle</key>
			<string>用户消息111</string>
			<key>msgUrl</key>
			<string>/appMsgLine/h5/get?id=1</string>
			<key>language</key>
			<string>cn</string>
			<key>msgType</key>
			<integer>10</integer>
			<key>msgTypeName</key>
			<string>系统消息</string>
			<key>userId</key>
			<integer>1</integer>
			<key>userName</key>
			<string>YD-MAHQU1E8</string>
			<key>isAlertWindow</key>
			<false/>
			<key>isRead</key>
			<true/>
			<key>isPush</key>
			<true/>
			<key>topTime</key>
			<real>1597912520000</real>
			<key>topTimeLong</key>
			<integer>1597912520518</integer>
			<key>creator</key>
			<string>booding</string>
			<key>createTime</key>
			<integer>1597832862000</integer>
		</dict>
	</array>
</dict>
</plist>
