<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>1</integer>
	<key>success</key>
	<true/>
	<key>message</key>
	<string>成功</string>
	<key>data</key>
	<array>
		<dict>
			<key>walletAddr</key>
			<string>a18cf8b0700804bf48b1e945deed66bb001edccc</string>
			<key>machineRentCode</key>
			<string>Et9b165ui2higu</string>
			<key>machineGrade</key>
			<real>0</real>
			<key>machineValue</key>
			<real>100</real>
			<key>releaseDate</key>
			<string>2020-08-28</string>
			<key>releaseCoinId</key>
			<integer>3</integer>
			<key>releaseRate</key>
			<string>0.003</string>
			<key>releaseCoinName</key>
			<string>USDT</string>
			<key>releaseMoney</key>
			<real>0.3</real>
			<key>minerReleaseMoney</key>
			<real>0.03</real>
			<key>incomeCoinId</key>
			<integer>1</integer>
			<key>incomeCoinName</key>
			<real>0</real>
			<key>incomeMoney</key>
			<real>1.5</real>
			<key>minerIncomeMoney</key>
			<real>0.15</real>
		</dict>
		<dict>
			<key>walletAddr</key>
			<string>a18cf8b0700804bf48b1e945deed66bb001edccc</string>
			<key>machineRentCode</key>
			<string>Et9b165ui2higu</string>
			<key>machineGrade</key>
			<real>0</real>
			<key>machineValue</key>
			<real>100</real>
			<key>releaseDate</key>
			<string>2020-08-28</string>
			<key>releaseCoinId</key>
			<integer>3</integer>
			<key>releaseRate</key>
			<string>0.003</string>
			<key>releaseCoinName</key>
			<string>USDT</string>
			<key>releaseMoney</key>
			<real>0.3</real>
			<key>minerReleaseMoney</key>
			<real>0.03</real>
			<key>incomeCoinId</key>
			<integer>1</integer>
			<key>incomeCoinName</key>
			<real>0</real>
			<key>incomeMoney</key>
			<real>1.5</real>
			<key>minerIncomeMoney</key>
			<real>0.15</real>
		</dict>
		<dict>
			<key>walletAddr</key>
			<string>a18cf8b0700804bf48b1e945deed66bb001edccc</string>
			<key>machineRentCode</key>
			<string>Et9b165ui2higu</string>
			<key>machineGrade</key>
			<real>0</real>
			<key>machineValue</key>
			<real>100</real>
			<key>releaseDate</key>
			<string>2020-08-28</string>
			<key>releaseCoinId</key>
			<integer>3</integer>
			<key>releaseRate</key>
			<string>0.003</string>
			<key>releaseCoinName</key>
			<string>USDT</string>
			<key>releaseMoney</key>
			<real>0.3</real>
			<key>minerReleaseMoney</key>
			<real>0.03</real>
			<key>incomeCoinId</key>
			<integer>1</integer>
			<key>incomeCoinName</key>
			<real>0</real>
			<key>incomeMoney</key>
			<real>1.5</real>
			<key>minerIncomeMoney</key>
			<real>0.15</real>
		</dict>
		<dict>
			<key>walletAddr</key>
			<string>a18cf8b0700804bf48b1e945deed66bb001edccc</string>
			<key>machineRentCode</key>
			<string>Et9b165ui2higu</string>
			<key>machineGrade</key>
			<real>0</real>
			<key>machineValue</key>
			<real>100</real>
			<key>releaseDate</key>
			<string>2020-08-28</string>
			<key>releaseCoinId</key>
			<integer>3</integer>
			<key>releaseRate</key>
			<string>0.003</string>
			<key>releaseCoinName</key>
			<string>USDT</string>
			<key>releaseMoney</key>
			<real>0.3</real>
			<key>minerReleaseMoney</key>
			<real>0.03</real>
			<key>incomeCoinId</key>
			<integer>1</integer>
			<key>incomeCoinName</key>
			<real>0</real>
			<key>incomeMoney</key>
			<real>1.5</real>
			<key>minerIncomeMoney</key>
			<real>0.15</real>
		</dict>
	</array>
</dict>
</plist>
